.important h1 {
  color: purple
}
.important {
  font-style: normal;
}
.important{
  font-weight: bolder;
}
.important h5{
  color: purple;
  font-weight: bold;
}
.important h6{
  color: purple;
  font-weight: bold;
}
.important h4{
  color:purple;
  font-weight: bold;

}
.important h3{
  color: purple
}
body {
  background-image:url(https://cdn2.f-cdn.com/ppic/5412243/logo/8587463/The-best-top-desktop-blue-wallpapers-blue-wallpaper-blue-background-hd-25.jpg) ;

}
